
<mat-toolbar color="primary">

  <button mat-raised-button color="warn" (click)="openDialog()">Add new Post</button>


</mat-toolbar>

<div class="example-table-container">

  <mat-card style="width: 50%; margin:30px auto;" *ngFor="let post of posts">
    <mat-card-title>{{post.title}}</mat-card-title>

    <mat-card-content>{{post.content}}</mat-card-content>
    <mat-card-subtitle>{{post.data | date }}</mat-card-subtitle>
    <mat-card-actions align="end">

      <button mat-raised-button color="primary" (click)="editPost(post)" >Edit</button>
        <button mat-raised-button color="warn" (click)="deletePost(post)" >Delete</button>
    </mat-card-actions>
  </mat-card>




</div>




