
<mat-toolbar color="primary">

  <button mat-raised-button color="warn" (click)="openDialog()">Add new Post</button>

</mat-toolbar>

<div class="example-table-container">

  <mat-card style="width: 50%; margin:30px auto;" *ngFor="let post of posts">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.content}}</mat-card-subtitle>
    <mat-card-subtitle>{{post.data}}</mat-card-subtitle>
    <mat-card-actions align="end">

      <button mat-raised-button color="primary" [routerLink]="['/profile','edit-post', post.id]">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteMyPost()" class="btn btn-danger ms-2">Delete</button>
    </mat-card-actions>
  </mat-card>




</div>




