/* IMPOSTAZIONI GENERALI */

body {
    text-align: center;
    padding: 5px 610px 5px 610px;
    font-family: 'Raleway', serif;
    ;
    


}


/* HEADER */
header {
    background-color: rgb(66, 171, 227);
    font-size: 70%;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px

     ;
    
}

#lineascura {
    background-color: blue;

}

#contatti-utili {
    font-family: Arial, Helvetica, serif;
    font-size: small;
    ;
    white-space: inherit;
   

}

blockquote {
    background-color: rgba(179, 179, 149, 0.978);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-style: italic ;
    padding-top: 10px;
    padding-bottom: 10px;
     }


#nome{
    background-color: azure;
    background-size: 60%;
    background-size: contain
   ;
    color: rgb(66, 171, 227)

}

h1{
    color: beige;
}

h2 { font-family: Arial, Helvetica, serif;
     font-size: small;
    }

;
p {
    padding-top: -80px;
    padding-bottom: -80px
}  

h4 {font-family: Arial, Helvetica, serif;
    text-transform: uppercase;
    color: rgb(57, 57, 145);
    line-height: 20%;
    white-space: pre-line ;
}

mark{ 
    background-color: rgb(66, 171, 227) ;
    ;
}

hr{
    border-style: none none dashed;
}

/* MAIN */
main {}



/* ELEMENTI NEL MAIN */

/* FOOTER */
footer {
    background-color: rgb(82, 80, 80);
    padding-top: 20px;
    padding-bottom: 20px;
}

h5{
    color: aliceblue;
}

h6{
    color: rgb(156, 155, 155);
}

kbd{
    color: yellow;
    font-weight: bold;
}

a{
    color: red;
}