<p>form works!</p>

<form>
  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Titolo" aria-label="Username" [(ngModel)]="post.title">
    </div>

  <div class="input-group">
      <textarea class="form-control" aria-label="With textarea" placeholder="Testo" [(ngModel)]="post.body"></textarea>
    </div>
  <select class="form-select" aria-label="Default select example" [(ngModel)]="post.active">
      <option selected>Attivo</option>
      <option value="1">Inattivo</option>
  </select>
  <button type="submit" class="btn btn-primary" (click)="postApost()">Submit</button>
</form>
