h3{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    border-top: 1px solid black;
}


.container{
    display: grid;
}



.blocco{
   
    background-color: #ccc;
    border: 1px solid #fff;
}

#n1 .blocco{
    height: 100px;}


#n1 .blocco:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
   
}

#n1 .blocco:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    
}
#n1 .blocco:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 4;
   
}

#n3{
    grid-template-areas: 
    "header header header"
    "aside aside main"
    "aside aside main"
    "footer footer footer";
}

#n3 .blocco:nth-child(1){
    grid-area: header ;
}

#n3 .blocco:nth-child(2){
    grid-area: main ;
}

#n3 .blocco:nth-child(3){
    grid-area: aside ;
}

#n3 .blocco:nth-child(4){
    grid-area: footer ;
}

#n4{
    grid-template-columns: repeat(3, 1fr) minmax(20px, 40px);
    grid-template-rows: repeat(2, 100px) 300px ;
    grid-gap: 20px;
    justify-content: space-between;
}