
.container{
  width: 50vw;
  margin: 5rem auto;

}

form{
  margin: 0 auto;
width: fit-content;
text-align: center;
}

.listContainer{
  margin: 0.5rem auto;
  width: fit-content;
  display: flex;
 flex-direction: row;

}

.task{
  width: 30vw;
}

.bottoni{
  margin-left: 5rem;
}


