$coloregreen1: rgb(184, 247, 184);
$coloregreen2: rgb(127, 252, 127);
$coloregreen3: rgb(61, 147, 61);
$coloregreen4: rgb(15, 80, 15);

$success: $coloregreen3;

$gradienthover1: linear-gradient(90deg, rgb(130, 205, 249), rgb(62, 193, 62)); /* top */
$gradienthover2: linear-gradient(90deg, blue, green); /* right */
$gradienthover3: linear-gradient(180deg, blue, green); /* bottom */
$gradienthover4: linear-gradient(-90deg, blue, green); /* left */


 

