
#blocco-trasparente{
    opacity: 0.5;
}

button{
    opacity: 1;
}

body{
    font-size: 1.2rem;
}

/*overflow*/

#section{
    height: 200px;
    overflow: auto; 
}

::-webkit-scrollbar{
    background-color: red;
}
    


::-webkit-scrollbar-thumb {      /* stile barra si scroll*/
    background-color: blue;}

#sezione2{
    margin-top: 20px;
    word-wrap: break-word;
}
    
