html{
    height: 100%;
    width: 100%;
    background-color: white;
   

}
 



body{

    
    width: 30%;
    height: 80%;
    margin-left: 33vw;
    margin-top: 10vh;
    margin-bottom: 30vh;
    /*background-image: linear-gradient( to bottom right, rgba(238, 226, 218, 0.3) 0%, rgba(37, 37, 157, 0.8) 100%  );*/
    background-color: rgba(124, 201, 237, 0.4);
  
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgb(69, 55, 84);

   }


   button:hover{

   /* background-color: rgba(42, 23, 128, 0.7);*/
   background-color: rgba(124, 201, 237, 0.4);
    color: white;
   }

#display{
    width: 20vw;
    height: 10vh;
    margin-left: 4.8vw;
    margin-top: 10vh;

}

button{
    background-color: rgba(104, 173, 206, 0.5);;
    color: rgb(78, 19, 19);
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 20px;
    
}

#bottoni{

   
    width: 20vw;
    display: grid;
    grid-template-columns: repeat(4, 5.1vw);
    grid-template-rows: repeat(5, 9vh);
    

    
    margin-left: 4.8vw;
   margin-top: 3vh;
   margin-bottom: 50vh;
   font-size: larger;
    
}

.bott{
    font-weight: bold;
 
    
}

#bottone4{
 grid-column: 1;
 grid-row: 2
}

#bottone5{
    grid-column: 2;
    grid-row: 2
}

#bottone6{
    grid-column: 3;
    grid-row: 2
}

#bottone7{
    grid-column: 1;
    grid-row: 3
}
#bottone8{
    grid-column: 2;
    grid-row: 3
}

#bottone9{
    grid-column: 3;
    grid-row: 3
}

#bottone0{
    grid-column: 3;
    grid-row: 4
}

#bottonetot{
    grid-column: 4;
    grid-row: 4
}

#bottonereset{
    grid-column: 4;
    grid-row: 5
}

#bottonesomma{
    grid-column: 4;
    grid-row: 1
}

#bottone-{
    grid-column: 4;
    grid-row: 2
}

#bottonetot{
    grid-column: 1 / 4;
    grid-row: 5
}
#bottonex{
    grid-column: 4;
    grid-row: 3
}

#bottonediv{
    grid-column: 4;
    grid-row: 4
}

#bottone0{
    grid-column: 2;
    grid-row: 4
}
#bottoneback{
    grid-column: 3;
    grid-row: 4
}
